<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="thePresident" class="es.anaya.spring.basic.injection.President">
		<property name="name" value="Trevijano" />
	</bean>

	<bean id="country" class="es.anaya.spring.basic.injection.Country">
		<constructor-arg name="president" ref="thePresident" />
	</bean>
</beans>
