<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    
    <bean class="es.anaya.spring.basic.s01.stereotypes.school.MyCustomBeanProcessor" /> 

    <context:component-scan base-package="es.anaya.spring">
        <context:include-filter type="regex"
                expression="es.anaya.spring.basic.s01.stereotypes.school.student.*" />
        <context:include-filter type="regex" 
                expression="es.anaya.spring.basic.s01.*Teacher*" />
        <context:exclude-filter type="annotation"
                expression="es.anaya.spring.basic.s01.stereotypes.school.subject.Subject"/>
    </context:component-scan>
    
    	<!--  Or much simpler in this case... -->
        <!-- context:component-scan base-package="es.anaya.spring.*"/ -->
    
</beans>
