<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Web : s07.integrationtest</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
   <form action="#" th:action="@{/customer/new}" th:object="${customer}" method="post">
    	<div>
    		<label for="name">Name</label>
    	</div>
    	<div>
  			 <input type="text" th:field="*{name}" />
		</div>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>