<!DOCTYPE HTML>
<html>
<head>
<title>Spring Web : s04.mustache : simple</title>
	<meta charset="UTF-8">
</head>
<body>
	<header>
		{{>header}}
	</header>
	<main>
	
	<div>Say hello {{greet}}</div>
	</main>
	{{>footer}}
</body>
</html>
