<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="pear1" class="es.anaya.spring.testing.s07.beantest.Pear" />
	<bean id="pear2" class="es.anaya.spring.testing.s07.beantest.Pear" />
	<bean id="pear3" primary="true" class="es.anaya.spring.testing.s07.beantest.Pear" />
</beans>
